{% extends 'QuartetKakarotBundle::base.html.twig' %}

{% block headline %}いいね！更新頻度{% endblock headline %}

{% block content_row %}

<div class="container">
    <div class="contents">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>更新頻度</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.likeUpdateFrequency }}ヶ月</td>
                    <td>
                        <a href="{{ path('globalsetting_edit', { 'id': entity.id }) }}" class="btn btn-info" role="button">編集</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ path('management') }}" class="btn btn-warning" role="button">管理画面に戻る</a>

    </div>
</div>

{% endblock content_row %}