{% extends 'QuartetKakarotBundle::base.html.twig' %}

{% block headline %}パスワード変更{% endblock headline %}

{% block content_row %}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="更新" class="btn btn-primary"/>
        </div>
    </form>

{% endblock content_row %}