{% extends 'QuartetKakarotBundle::base.html.twig' %}

{% block headline %}部署　削除{% endblock headline %}

{% block content_row %}
    <div class="container">
        <div class="contents">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>部署名</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            {{ form(delete_form) }}
            <br>
            <a href="{{ path('division_edit', { 'id': entity.id }) }}" class="btn btn-warning" role="button">編集に戻る</a>
        </div>
    </div>
{% endblock content_row %}