{% extends 'QuartetKakarotBundle::myofficeBase.html.twig' %}

{% block headline %}休日カレンダー　削除{% endblock headline %}

{% block content_row %}
    <div class="container">
        <div class="contents">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>休日名</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    <tr>
                        <th>日付</th>
                        <td>{{ entity.date|date('Y/m/d') }}</td>
                    </tr>
                </tbody>
            </table>
            {{ form(delete_form) }}
            <br>
            <a href="{{ path('holidayscalendar') }}" class="btn btn-warning" role="button">一覧に戻る</a>
        </div>
    </div>
{% endblock content_row %}
